{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
      <h2 class="brand logs-head">{% trans "Member Login" %}</h2>

      <p class="text-center login-text">{% blocktrans %}<span class="signin-welcome">Welcome back to <span
            class="brand">Lux Fitness Gym.</span></span><br> <span class="signin-text">To book a class or leave a
          review - <br> please <strong class="brand">Login</strong>.<br>
          If you are not a member - <br> then <strong><a class="link lux-links" href="{{ signup_url }}">Register
              to Join</a></strong></span>{% endblocktrans %}</p>
    </div>
  </div>
  <div class="row">
    <div id="login" class="col-md-8 mt-3 offset-md-2">
      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn btn-signup right" type="submit">{% trans "Sign In" %}</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}