{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
      <h2 class="brand logs-head">{% trans "Register to Join" %}</h2>

      <p class="text-center login-text">{% blocktrans %}<span class="signin-welcome">Welcome back to <span
            class="brand">Lux Fitness
            Gym.</span></span><br> <span class="signin-text">Do you already
          have an
          account?<br>
          Then please <strong><a class="lux-links" href="{{ login_url }}">sign in</a></strong> instead.</span>
        {% endblocktrans %}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 mb-2 offset-md-1">

      <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn btn-signup right" type="submit">{% trans 'Sign Up' %} &raquo;</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}