:root {
    --my-main-brand-color: #9f51d4;
    --my-brand-accent-color: #09f0e5;
    --my-brand-dark-color: #030303;
    --my-brand-silver-color: #c0c0c0;
    --my-brand-white-color: #f8f8f8;
    --drak-grey: #3e3e3e;
    --mid-grey-one: #414141;
    --mid-grey-two: #707070;
    --mid-light-silver: #ececec;
    -light-silver: #dedede;
    --dark-main: #552d71;
    --light-main: #d099f6;
    --dark-accent: #1e244a;
    --light-accent: #cefcfa;
    --lux-dark-gradient: linear-gradient(50deg,
            hsl(0deg 0% 1%) 0%,
            hsl(344deg 0% 16%) 32%,
            hsl(344deg 0% 24%) 48%,
            hsl(344deg 0% 24%) 61%,
            hsl(344deg 0% 16%) 76%,
            hsl(0deg 0% 1%) 100%);
    --lux-colour-gradient: linear-gradient(115deg,
            hsl(0deg 0% 97%) 0%,
            hsl(173deg 61% 92%) 8%,
            hsl(174deg 74% 87%) 17%,
            hsl(174deg 79% 81%) 25%,
            hsl(175deg 82% 75%) 33%,
            hsl(176deg 85% 67%) 42%,
            hsl(177deg 93% 49%) 50%,
            hsl(186deg 100% 49%) 58%,
            hsl(192deg 100% 50%) 67%,
            hsl(197deg 100% 50%) 75%,
            hsl(204deg 100% 50%) 83%,
            hsl(231deg 93% 69%) 92%,
            hsl(276deg 60% 57%) 100%);

    --lux-reverse-color-gradient: linear-gradient(310deg,
            hsl(0deg 0% 97%) 0%,
            hsl(173deg 61% 92%) 8%,
            hsl(174deg 74% 87%) 17%,
            hsl(174deg 79% 81%) 25%,
            hsl(175deg 82% 75%) 33%,
            hsl(176deg 85% 67%) 42%,
            hsl(177deg 93% 49%) 50%,
            hsl(186deg 100% 49%) 58%,
            hsl(192deg 100% 50%) 67%,
            hsl(197deg 100% 50%) 75%,
            hsl(204deg 100% 50%) 83%,
            hsl(231deg 93% 69%) 92%,
            hsl(276deg 60% 57%) 100%);
}

/**************
Main Page Components
****************/



body {
    font-family: "Proxima Nova", sans-serif;
    color: var(--my-brand-dark-color);
    background: linear-gradient(to right bottom, #f8f8f8, #f6f6f6, #f4f4f4, #f2f2f2, #f0f0f0, #f0f0f0, #f0f0f0, #f0f0f0, #f2f2f2, #f4f4f4, #f6f6f6, #f8f8f8);
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;

}




.custom-nav {
    background: var(--my-brand-white-color);
    box-shadow: 0 1px 3px var(--dark-main);
}

.tagline-nav {
    color: var(--my-main-brand-color);
    font-size: 1.2rem;
}



.lux-footer {
    background-image: var(--lux-dark-gradient);
}

.lux-footer,
.lux-footer a {
    color: var(--my-brand-silver-color);
}

.lux-footer a>i:hover {
    transform: scale(1.5);
}


/********************
custom sections
*****************/

/********* SIGN IN OUT REGISTER ************/
.logs-head {
    font-size: 2rem;
    margin-bottom: 10px;
}


.signin-welcome {
    font-size: 1.0950rem;
    font-weight: bold;
}

.signin-text {
    font-size: 1.1rem;
    line-height: 25px;
}

a.lux-links,
a.lux-links:link,
.breadcrumb .lux-links-bread,
a.lux-links:visited {
    padding: 3px 1px;
    color: var(--dark-main);
    font-weight: bold;
}


.breadcrumb .breadcrumb-name {
    font-size: 1rem;
    color: var(--dark-accent);
    font-weight: bold;
}

/*** Fitnessclasses - Home Page & Detial Pages ****/
.hero,
.hero-detail {
    height: 45vh;
}

.hero {
    background-image: url("../images/fitness_classes/studio-home.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-detail {
    height: 30vh;
    background-image: url("../images/fitness_details/studio-21920x1080.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.detail-nav {
    background: var(--lux-colour-gradient);
    padding: 1px;
}

.well-shadow {
    text-shadow: 0 1px 2px var(--my-brand-dark-color);
}

.image-container img,
.image-detail img {
    margin-bottom: 0 !important;
}

.image-container img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}


.image-detail img {
    height: 100%;
    width: 100%;
}




.image-detail {
    max-width: 800px;
    height: auto;
}

.image-detail,
.detail-text-container {
    padding: 5px;
}


.image-detail {
    box-shadow: inset 0px 0px 5px rgba(159, 81, 212, 0.5);
    border-radius: 8px;

}



.detail-text {
    font-size: 1.2em;
}

.back {
    border-color: var(--my-main-brand-color)
}

.custom-overlay {
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 35%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);

}


#logo {
    max-width: 110px;
}


.lino-didot,
.gymclass-title {
    font-family: linotype-didot, serif;
}

.text-shadow {
    color: var(--mid-light-silver);
    text-shadow: 0 1px 1px var(--light-main);
}

.gymclass-title {
    font-size: 1.2rem;
    padding: 5px 0;
    margin-bottom: 5px;

}

.gymclass-name {
    font-size: 1.1rem;
    margin-bottom: 3px;
}

.read-more {
    transform: translateY(-6px);
}



.read-more i {
    margin-left: 10px;
}

.read-more:hover {
    color: var(--light-main);
    text-shadow: 0 1px 1px var(--mid-light-silver);
}

.btn {
    text-shadow: 0 1px 1px var(--my-brand-dark-color);
}

.btn-brand {
    background: var(--my-main-brand-color);
    color: var(--my-brand-white-color);
}

.btn-brand:hover,
.btn-save {
    background: var(--my-brand-accent-color);
    color: var(--my-brand-dark-color);
}

.btn-signup,
.btn-signout,
.btn-edit,
.btn-delete:hover,
.back:hover {
    background: var(--dark-accent);
    color: var(--my-brand-white-color);
}

.btn-signup:hover,
.btn-edit:hover,
.btn-signout:hover,
.btn-signup:active {
    background-color: var(--my-main-brand-color);
    color: var(--my-brand-white-color);
}


.btn-delete,
.btn-save:hover {
    background-color: var(--dark-main);
    color: var(--my-brand-white-color);
}


.btn-delete:hover,
.accent {
    background: var(--my-brand-accent-color);
    color: var(--my-brand-dark-color);
}

.btn-book {
    transform: translate(10px, -2px);
}

.teacher {
    background: var(--light-main);
    color: var(--my-brand-dark-color);
}


/*****Scheduledclass Create Timetable Admin Page ********/
.brand {
    color: var(--my-main-brand-color);
    text-shadow: 0 1px 1px var(--my-brand-dark-color);
}

.brand-dark {
    color: var(--dark-accent);
    text-shadow: 0 1px 1px var(--my-brand-dark-color);
}


.accent,
.teacher {
    border-radius: 5px;
    padding: 1px 2px;
    text-shadow: 0 1px 1px var(--my-brand-silver-color);
}

/****** TIMETABLE *********/
.gym-timetable {
    height: 3px !important;
    transform: translateY(-10px);
    border-radius: 2px;
    background: var(--lux-reverse-color-gradient);
    opacity: 1 !important;
}

.time-classes {
    color: var(--dark-accent);
}

/*** FORMS ******/


label.form-label {
    font-weight: 600;
    color: var(--dark-main);
    text-shadow: 0 1px 1px var(--my-brand-dark-color);
    font-size: 1.3rem;
}




input.form-control,
select.form-select,
textarea.form-control {
    border-radius: 8px;
    border: 2px solid rgba(62, 62, 62, 0.5);
    padding: 10px;
    color: var(--dark-accent);
    text-shadow: 0 1px 1px var(--my-brand-dark-color);
    font-size: 1.2rem;
}

input.form-control:focus,
select.form-select:focus {
    border-color: rgba(6, 146, 140, 0.5);
    box-shadow: 0 0 4px rgba(159, 81, 212, 0.5);
}

select.form-select option {
    background: var(--drak-grey);
    color: var(--my-brand-white-color);
    text-shadow: 0 1px 1px var(--my-brand-dark-color);
}

select.form-select option:first-child {
    color: var(--my-brand-white-color);
    background-color: var(--dark-main);
}


select.form-select option:hover {
    background: var(--my-main-brand-color) !important;
    color: var(--my-brand-white-color);
}

.alert-success {
    text-align: center;
    font-size: 1.5rem;
    color: var(--dark-accent);
    text-shadow: 0 1px 1px var(--mid-light-silver);
    background: var(--lux-colour-gradient);
    transform: translateY(9px);
}

.alert-danger {
    text-align: center;
    font-size: 1.5rem;
    color: var(--my-brand-white-color);
    text-shadow: 0 1px 1px var(--my-brand-accent-color);
    background: var(--lux-dark-gradient);
    transform: translateY(9px);
}


/* MEDIA QUERIES */

@media (min-width: 370px) {
    .custom-overlay {
        height: 30%;
    }

    .btn-book {
        transform: none;
    }

}


@media (min-width: 768px) {

    .logs-head {
        font-size: 2.3rem;
        margin-bottom: 15px;
    }

    .signin-welcome {
        font-size: 1.4rem;
    }

    .signin-text {
        font-size: 1.3rem;
        line-height: 30px;
    }

    /****** HOME PAGE *********/

    .fancy-grid>.card-col {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .fancy-grid>.card-col:last-child:nth-child(odd) {
        margin-left: auto;
        margin-right: auto;
    }

    .gymclass-title {
        font-size: 1.3rem;
    }

    .gymclass-name {
        font-size: 1.2rem;
    }

    .read-more {
        transform: translateY(-8px);
    }

    .detail-text {
        font-size: 1.3em;
    }

    /****** TIMETABLE *********/
    .timetable-class-names {
        font-size: 1.2rem;
    }

    .time-classes {
        font-size: 1.1rem;
    }

    .btn-book {
        min-width: 120px;
    }

    .btn-book,
    .btn-cancel-book {
        font-size: 1.6rem;
    }

}

@media (min-width: 992px) {
    .signin-welcome {
        font-size: 1.5rem;
    }

    .signin-text {
        font-size: 1.4rem;
        line-height: 35px;
    }


    .gymclass-title {
        font-size: 1.3rem;
        margin-bottom: 0;
    }

    .gymclass-name {
        font-size: 1.2rem;
    }

    .read-more {
        transform: translateY(-10px);
    }

    /****** TIMETABLE *********/
    .timetable-class-names {
        font-size: 1.3rem;
    }

    .time-classes {
        font-size: 1.2rem;
    }


}

@media (min-width: 1200px) {
    .logs-head {
        font-size: 2.5rem;
        margin-bottom: 20px;
    }

    .signin-welcome {
        font-size: 1.6rem;
    }

    .signin-text {
        font-size: 1.5rem;
    }

    #logo {
        max-width: 130px;
    }

    .fancy-grid>.card-col {
        flex: 0 0 30%;
        max-width: 30%;
    }

    /* make items 2, 4, and 9 wide (8 of 12), then repeat every 9 */
    .fancy-grid>.card-col:nth-child(9n+2),
    .fancy-grid>.card-col:nth-child(9n+4),
    .fancy-grid>.card-col:nth-child(9n) {
        flex: 0 0 40%;
        max-width: 40%;
    }

    .detail-text-container {
        padding-left: 20px;
    }

    .detail-text {
        font-size: 1.5em;
    }

    /****** TIMETABLE *********/
    .timetable-class-names {
        font-size: 1.7rem;
    }

    .time-classes {
        font-size: 1.6rem;
    }

}

@media (min-width: 1300px) {

    .signin-welcome {
        font-size: 1.8rem;
    }

    .signin-text {
        font-size: 1.7rem;
    }

    .gymclass-title {
        font-size: 1.8rem;
        margin-bottom: 0;
    }

    .gymclass-name {
        font-size: 1.4rem;
    }

    .read-more {
        transform: translateY(-4px);
        font-size: 1.2rem;
    }

    .detail-text {
        font-size: 1.7em;
    }

    /****** TIMETABLE *********/
    .timetable-class-names {
        font-size: 1.9rem;
    }

    .time-classes {
        font-size: 1.8rem;
    }
}



@media (min-width: 1400px) {
    .logs-head {
        font-size: 2.8rem;
        margin-bottom: 30px;
    }

    /****** TIMETABLE *********/
    .timetable-class-names {
        font-size: 2.5rem;
    }

    .time-classes {
        font-size: 2.2rem;
    }
}