:root {
    --my-main-brand-color: #9f51d4;
    --my-brand-accent-color: #09f0e5;
    --my-brand-dark-color: #030303;
    --my-brand-silver-color: #c0c0c0;
    --my-brand-white-color: #f8f8f8;
    --drak-grey: #3e3e3e;
    --mid-grey-one: #414141;
    --mid-grey-two: #707070;
    --mid-light-silver: #ececec;
    -light-silver: #dedede;
    --dark-main: #552d71;
    --light-main: #d099f6;
    --dark-accent: #06928c;
    --light-accent: #cefcfa;
}

/**************
Main Page Components
****************/

body {
    font-family: "Proxima Nova", sans-serif;
    color: var(--my-brand-dark-color);
    background: linear-gradient(to right bottom, #f8f8f8, #f6f6f6, #f4f4f4, #f2f2f2, #f0f0f0, #f0f0f0, #f0f0f0, #f0f0f0, #f2f2f2, #f4f4f4, #f6f6f6, #f8f8f8);
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;

}

.custom-nav {
    background: var(--my-brand-white-color);
    box-shadow: 0 1px 3px var(--dark-main);
}

.tagline-nav {
    color: var(--my-main-brand-color);
    font-size: 1.2rem;
}



.lux-footer {
    background-image: linear-gradient(50deg,
            hsl(0deg 0% 1%) 0%,
            hsl(344deg 0% 16%) 32%,
            hsl(344deg 0% 24%) 48%,
            hsl(344deg 0% 24%) 61%,
            hsl(344deg 0% 16%) 76%,
            hsl(0deg 0% 1%) 100%);


}

.lux-footer,
.lux-footer a {
    color: var(--my-brand-silver-color);
}

.lux-footer a>i:hover {
    transform: scale(1.5);
}


/********************
custom sections
*****************/

/*** Fitnessclasses - Home Page ****/
.hero {
    height: 45vh;
    background-image: url("../images/fitness_classes/studio.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.well-shadow {
    text-shadow: 0 1px 2px var(--my-brand-dark-color);
}

.image-container img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}



.custom-overlay {
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 35%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);

}


#logo {
    max-width: 110px;
}


.lino-didot,
.gymclass-title {
    font-family: linotype-didot, serif;
}

.text-shadow {
    color: var(--mid-light-silver);
    text-shadow: 0 1px 1px var(--light-main);
}

.gymclass-title {
    font-size: 1.2rem;
    padding: 5px 0;
    margin-bottom: 5px;

}

.gymclass-name {
    font-size: 1.1rem;
    margin-bottom: 3px;
}

.read-more {
    transform: translateY(-6px);
}



.read-more i {
    margin-left: 10px;
}

.read-more:hover {
    color: var(--light-main);
    text-shadow: 0 1px 1px var(--mid-light-silver);
}

.btn {
    text-shadow: 0 1px 1px var(--my-brand-dark-color);
}

.btn-brand {
    background: var(--my-main-brand-color);
    color: var(--my-brand-white-color);
}

.btn-brand:hover,
.btn-save {
    background: var(--my-brand-accent-color);
    color: var(--my-brand-dark-color);
}

.btn-signup,
.btn-edit,
.btn-delete:hover {
    background: var(--dark-accent);
    color: var(--my-brand-white-color);
}

.btn-signup:hover,
.btn-edit:hover,
.btn-signup:active {
    background-color: var(--my-main-brand-color);
    color: var(--my-brand-white-color);
}


.btn-delete,
.btn-save:hover {
    background-color: var(--dark-main);
    color: var(--my-brand-white-color);
}


.btn-delete:hover,
.accent {
    background: var(--my-brand-accent-color);
    color: var(--my-brand-dark-color);
}

.teacher {
    background: var(--light-main);
    color: var(--my-brand-dark-color);
}


/*****Scheduledclass Create Tiemtable Admin Page ********/
.brand {
    color: var(--my-main-brand-color);
    text-shadow: 0 1px 1px var(--my-brand-dark-color);
}

.accent,
.teacher {
    border-radius: 5px;
    padding: 1px 2px;
    text-shadow: 0 1px 1px var(--my-brand-silver-color);
}

/*** FORMS ******/

label.form-label {
    font-weight: 600;
    color: var(--dark-main);
    text-shadow: 0 1px 1px var(--my-brand-dark-color);
    font-size: 1.3rem;
}

input.form-control,
select.form-select,
textarea.form-control {
    border-radius: 8px;
    border: 2px solid rgba(62, 62, 62, 0.5);
    padding: 10px;
    color: var(--dark-accent);
    text-shadow: 0 1px 1px var(--my-brand-dark-color);
    /* font-weight: bold; */
    font-size: 1.2rem;
}

input.form-control:focus,
select.form-select:focus {
    border-color: rgba(6, 146, 140, 0.5);
    box-shadow: 0 0 4px rgba(159, 81, 212, 0.5);
}

select.form-select option {
    background: var(--drak-grey);
    color: var(--my-brand-white-color);
    text-shadow: 0 1px 1px var(--my-brand-dark-color);
}

select.form-select option:first-child {
    color: var(--my-brand-white-color);
    background-color: var(--dark-main);
}


select.form-select option:hover {
    background: var(--my-main-brand-color) !important;
    color: var(--my-brand-white-color);
}


/* MEDIA QUERIES */

@media (min-width: 370px) {
    .custom-overlay {
        height: 30%;
    }

}


@media (min-width: 768px) {



    .fancy-grid>.card-col {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .fancy-grid>.card-col:last-child:nth-child(odd) {
        margin-left: auto;
        margin-right: auto;
    }

    .gymclass-title {
        font-size: 1.3rem;
    }

    .gymclass-name {
        font-size: 1.2rem;
    }

    .read-more {
        transform: translateY(-8px);
    }
}

@media (min-width: 992px) {
    .gymclass-title {
        font-size: 1.3rem;
        margin-bottom: 0;
    }

    .gymclass-name {
        font-size: 1.2rem;
    }

    .read-more {
        transform: translateY(-10px);
    }

}

@media (min-width: 1200px) {

    #logo {
        max-width: 130px;
    }

    .fancy-grid>.card-col {
        flex: 0 0 30%;
        max-width: 30%;
    }

    /* make items 2, 4, and 9 wide (8 of 12), then repeat every 9 */
    .fancy-grid>.card-col:nth-child(9n+2),
    .fancy-grid>.card-col:nth-child(9n+4),
    .fancy-grid>.card-col:nth-child(9n) {
        flex: 0 0 40%;
        max-width: 40%;
    }

}

@media (min-width: 1300px) {

    .gymclass-title {
        font-size: 1.8rem;
        margin-bottom: 0;
    }

    .gymclass-name {
        font-size: 1.4rem;
    }

    .read-more {
        transform: translateY(-4px);
        font-size: 1.2rem;
    }
}