{% extends 'base.html' %}
{% load static %}

{% block content %}


<!--   fitnesstimetable_list.html content starts here -->

<div class="container">
    <div class="row">
        <form id="createTimetable" method="POST">
            {% csrf_token %}

            <div class="mb-3">
                <select class=”custom-select”>
                    <option selected>Choose Your Name</option>
                    <option value="{{ gym_timetable_schedular }}">{{ gym_timetable_schedular }}</option>
                    <option value=”2”>Harold Van</option>
                    <option value=”3”>Lizzy Fizz</option>
                </select>

            </div>


        </form>
    </div>
</div>




















{% endblock content %}