{% load static %}

{% url 'luxclasses:home' as luxhomepage_url %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}
{% url 'gymtimetable:admin_timetable' as admin_timetable_url%}
{% url 'gymtimetable:class_list' as usergymtimetable_url%}


<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
    <title>Lux Fitness Gym</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Meta Tags -->
    <meta name="description"
        content="Lux Fitness Gym offers expert-led classes, personalized timetables, and membership options to help you achieve your fitness goals." />
    <meta name="keywords"
        content="Lux Fitness Gym, gym classes, fitness timetable, yoga, HIIT, spin, pilates, gym memberships" />
    <meta name="author" content="Lux Fitness Gym" />




    <!-- FAVICONS -->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'images/lux-favicon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'images/lux-favicon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/lux-favicon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'images/lux-favicon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/lux-favicon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/lux-favicon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'images/lux-favicon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'images/lux-favicon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/lux-favicon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'images/lux-favicon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/lux-favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'images/lux-favicon/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/lux-favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/lux-favicon/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'images/lux-favicon/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">


    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <!-- Adobe Fonts CSS -->
    <link rel="stylesheet" href="https://use.typekit.net/zmw2tcq.css">

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- My Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}?v=1">

    <!-- My Custom Account Template CSS-->
    <link rel="stylesheet" href="{% static 'css/auth.css' %}?v=2">


</head>

<body class="d-flex flex-column h-100 main-bg">

    <!-- Navigation -->
    <nav class="navbar custom-nav navbar-expand-lg navbar-light bg-white">
        <div class="container-fluid">

            <a class="navbar-brand" href="{% url 'luxclasses:home' %}"><img id="logo" class="fluid"
                    src="{% static 'images/logos/Logo-name-no-bg.png' %} " alt="luxgym logo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == luxhomepage_url %}active"
                            aria-current="page{% endif %}" href="{% url 'luxclasses:home' %}">Home</a>
                    </li>

                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == logout_url %}active" aria-current="page{% endif %}"
                            href="{% url 'account_logout' %}">Logout</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link {% if request.path == usergymtimetable_url %}active{% endif %}"
                            href="{% url 'gymtimetable:class_list' %}">Timetable</a>

                    </li>


                    {% if user.is_superuser%}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == admin_timetable_url %}active"
                            aria-current="page{% endif %}" href="{% url 'gymtimetable:admin_timetable' %}">Create
                            Timetable</a>
                    </li>



                    {% endif %}

                    {% else %}

                    <li class="nav-item">
                        <a class="nav-link {% if request.path == signup_url %}active" aria-current="page{% endif %}"
                            href="{% url 'account_signup' %}">Join</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == login_url %}active" aria-current="page{% endif %}"
                            href="{% url 'account_login' %}">Login</a>
                    </li>

                    {% endif %}
                </ul>
                <span class="well-shadow tagline-nav">
                    Elevate Your Strength | Empower Your Life
                </span>
            </div>
        </div>
    </nav>

    <!-- displaying Django messages -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                    {{ message | safe }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <main class="flex-shrink-0 main-bg">

        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}

    </main>

    <!-- Footer -->
    <footer class="footer mt-auto lux-footer">
        <p class="m-0 text-center ">&copy; 2025 Lux Gym. All rights reserved.</p>
        <p class="m-0 text-center ">Follow us: <a href="https://facebook.com" target="_blank"
                rel="noopener noreferrer"><i class="fab fa-facebook-square ms-3"></i></a>
            <a href="http://instagram.com" target="_blank" rel="noopener noreferrer"><i
                    class="fab fa-instagram-square ms-3"></i></a>
            <a href="http://youtube.com" target="_blank" rel="noopener noreferrer"><i
                    class="fab fa-youtube-square ms-3"></i></a>
        </p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
        </script>
</body>

</html>