{% extends 'base.html' %}

{% load static %}

{% block content %}

<!--  fitnessclass_detial.html starts here -->
<div
  class="container-fluid hero hero-detail d-flex flex-column justify-content-center align-items-center text-center text-white">
  <div class="" here-text>
    <h1 class="display-3 fw-bold welcome well-shadow">{{ fitnessclass.gym_class_name }}</h1>
    <h2 class="display-3 fw-bold welcome well-shadow"> {{ fitnessclass.gym_class_name_extension }}</h2>
  </div>
</div>
<div class="container-fluid detail-nav">
  <nav aria-label="breadcrumb" class="mt-3">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ luxhomepage_url }}">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">
        {{ fitnessclass.gym_class_name }}
      </li>
    </ol>
  </nav>
</div>


<div class="container mt-4">
  <div class="image-detail">
    <img src="{% static 'images/fitness_details/' %}{{ fitnessclass.detail_filename }}"
      alt="{{ fitnessclass.gym_class_name }}" class="img-fluid mb-3">
  </div>
  <div class="detail-text-container">
    <p class="detail-text">{{ fitnessclass.content|safe }}</p>


    <a class="btn btn-outline-secondary mb-3" href="{{ request.GET.next|default:luxhomepage_url }}">
      ← Back to classes
    </a>

  </div>

</div>


{% endblock content %}